{% extends 'base.html' %}

{% block title %} Khach&puri - рецепты кавказской кухни {% endblock %}

{% block content %}
<div class="recipe-block container my-5 py-3 px-4">
    <div class="row justify-content-center ">
        <div class="col-6 d-none d-lg-block m-auto">
            <div id="carouselMain" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename=Dish[4]) }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div>
                <div class="d-flex justify-content-between">
                    <span class="dish-name">{{ Dish[0] }}</span>
                    <span>Рейтинг - <span class='rating'>{{ Dish[2] }}</span> <i class="fa-solid fa-star" style="color: #ffcf48;"></i></span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Список продуктов: </span>
                    <span>Количество</span>
                </div>
                <div class="products-list d-flex justify-content-between">
                     <ul>
                        {% for i in range(0, len_of_quantity) %}
                            <li>
                                <span class="product">{{ Products[i][0][0] }}</span>
                                <span class="product-amount">{{ Quantity[i][1] }}</span>
                            </li>
                        {% endfor %}
                     </ul>
                </div>
                <div class="extra-info">
                    <div>Время приготовления - <span class="time">{{ Dish[6] }} мин.</span></div>
                    <div>Калорийность - <span class="calories">{{ Dish[5] }}</span> ккал. на 100гр.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion py-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Описание
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body recipe-description">
                    {{ Dish[1] }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    История
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body recipe-history">
                    {{ Dish[3] }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                    Этапы приготовления
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body recipe-steps">
                    {% for i in range(0, len_of_steps) %}
                        <div class="step">
                            <h4>Шаг {{ i+1 }}.</h4>
                            <div class="row">
                                <div class="step-photo">
                                    <img class="img-fluid" src="{{ url_for('static', filename=Steps[i][1]) }}" alt="">
                                    <span class="step-description">
                                        {{ Steps[i][0][0] }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="comments-block py-4 mt-3">
        <h2>Отзывы</h2>
            <hr>
        <form class="needs-validation">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Оставьте ваш отзыв!</label>
                <div class="row">
                    <div class="col-1">
                        Оценка:
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline radio-rating">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rate1" value="option1">
                            <label class="form-check-label" for="rate1">1 <i class="fa-solid fa-star" style="color: #ffcf48;"></i> </label>
                        </div>
                        <div class="form-check form-check-inline radio-rating">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rate2" value="option2">
                            <label class="form-check-label" for="rate2">2 <i class="fa-solid fa-star" style="color: #ffcf48;"></i> </label>
                        </div>
                        <div class="form-check form-check-inline radio-rating">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rate3" value="option3">
                            <label class="form-check-label" for="rate3">3 <i class="fa-solid fa-star" style="color: #ffcf48;"></i> </label>
                        </div>
                        <div class="form-check form-check-inline radio-rating">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rate4" value="option3">
                            <label class="form-check-label" for="rate4">4 <i class="fa-solid fa-star" style="color: #ffcf48;"></i> </label>
                        </div>
                        <div class="form-check form-check-inline radio-rating">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rate5" value="option3" required>
                            <label class="form-check-label" for="rate5">5 <i class="fa-solid fa-star" style="color: #ffcf48;"></i> </label>
                        </div>
                    </div>
                </div>
                </select>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Текст отзыва"></textarea>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-comment mt-1 mb-2">Отправить</button>
                </div>
            </div>
        </form>
            <hr>
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span class="user-name">Светлана, <span class="user-age">30</span></span>
                    <span>Рейтинг - <span class='user-rating'>5.0</span> <i class="fa-solid fa-star" style="color: #ffcf48;"></i></span>
                </div>
                <p class="card-text comment-text">Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия!</p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span class="user-name">Светлана, <span class="user-age">30</span></span>
                    <span>Рейтинг - <span class='user-rating'>5.0</span> <i class="fa-solid fa-star" style="color: #ffcf48;"></i></span>
                </div>
                <p class="card-text comment-text">Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия! Оченб вкусно муж в шоке, ели и рыдали от удовольствия!</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}